.kwizzad-modal-dialog-dismiss-dialog {
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.kwizzad-modal-dialog-dismiss-dialog .kwizzad-modal-dialog-fullscreen-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.kwizzad-modal-dialog-dismiss-dialog.kwizzad-kwizzad-modal-dialog-hidden {
  pointer-events: none;
  transform: scale3d(1.4, 1.4, 1);
  opacity: 0;
}

.kwizzad-modal-dialog-dismiss-dialog .kwizzad-button-positive,
.kwizzad-modal-dialog-dismiss-dialog .kwizzad-button-negative {
  font-size: 1em;
}

.kwizzad-button-positive, .kwizzad-button-negative {
  border: none;
  outline: none;
  padding: 0.5em 0.7em;
  cursor: pointer;
}

.kwizzad-button-positive {
  background-color: #5bc0ea;
}

.kwizzad-button-negative {
  background-color: #d9758f;
}

.kwizzad-modal-dialog-dismiss-dialog .kwizzad-modal-dialog-content {
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kwizzad-modal-dialog-dismiss-dialog .kwizzad-close-dialog {
  display: none;
}

.kwizzad-modal-dialog-dismiss-dialog .kwizzad-modal-dialog-content footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.kwizzad-modal-dialog-dismiss-dialog .kwizzad-modal-dialog-content header,
.kwizzad-modal-dialog-dismiss-dialog .kwizzad-modal-dialog-content footer {
  margin: 1em;
  text-align: center;
}

.kwizzad-modal-dialog-dismiss-dialog .kwizzad-modal-dialog-content button {
  margin: 0.5em;
}