bigPadding = 15px
smallPadding = 6px

smallViewportDimension = 412px
verySmallViewportDimension = 320px

tabletOrDesktop()
  @media (min-width: 1024px) and (min-height: 768px), (min-width: 768px) and (min-height: 1024px)
    {block}

bigScreens()
  @media (min-width: smallViewportDimension + 1px) and (min-height: smallViewportDimension  + 1px)
    {block}

smallScreens()
  @media (max-width: smallViewportDimension), (max-height: smallViewportDimension)
    {block}

verySmallScreens()
  @media (max-width: verySmallViewportDimension), (max-height: verySmallViewportDimension)
    {block}

smallWidth()
  @media (max-width: smallViewportDimension)
    {block}

smallHeight()
  @media (max-height: smallViewportDimension)
    {block}


landscape()
  @media (orientation: landscape)
    {block}

portrait()
  @media (orientation: portrait)
    {block}
